body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .del{
    padding-left: 39px;
    padding-right: 39px;
    background-color: rgb(175, 0, 0);
  }
  .upd{
    padding-left: 37px;
    padding-right: 37px;
    background-color: green;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
  }
  
  .hidden {
    display: none;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  a{
    text-decoration: none;
    
  }